
<div class="container">
    <h1>Welcome to the Platform</h1>
    <p>Please select how you want to continue:</p>

    <div class="choices">
        <div class="card">
            <a href="/loginStudent">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Student">
            <h2>Student</h2></a>
        </div>

        <div class="card" >
            <a href="/loginStudent">
            <img src="https://cdn-icons-png.flaticon.com/512/921/921347.png" alt="Teacher">
            <h2>Teacher</h2>
        </div>
    </div>
</div>

