
<div class="container">
    <h1>Welcome to the Platform</h1>
    <form action="/role" method ="post">
    <p>Please select how you want to continue:</p>

    <div class="choices">
         <div class="choice"><
             <button type="submit" name="role" value="student">   
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Student">
            <h2>Student</h2>
            </button>
        </div>

 
          <div class="choice">
            <button type="submit" name="role" value="teacher">
            <img src="https://cdn-icons-png.flaticon.com/512/921/921347.png" alt="Teacher">
            <h2>Teacher</h2>
            </button>
        </div>
    </div>
    
</form>
</div>

