<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Exam Platform</title>
  <link rel="stylesheet" href="/css/style.css"> <!-- Path to your CSS -->
</head>
<body>
  <%- body %> <!-- This is where your index.ejs content appears -->
</body>
</html>
